flows.json
[
    {
        "id": "fb34594d.a95eb8",
        "type": "tab",
        "label": "KONA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e19137ec.dca228",
        "type": "car-status",
        "z": "fb34594d.a95eb8",
        "name": "Car status",
        "dorefresh": true,
        "parsed": false,
        "bluelinky": null,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "57fe9a5d.fa5434",
                "3f6d1bd5.b0aed4",
                "231e399.c6e2ec6",
                "c73d3794.1a7388",
                "add35eda.411",
                "716f0a0e.2881a4",
                "eaddfb2a.7d96e8",
                "b407932e.d5a9c",
                "adf9fc7a.910ee",
                "d3402821.a5e3a8",
                "e302223.e46eee",
                "f55bd4bd.20a338",
                "75b9380b.256d38",
                "1fcde0c9.3cbcdf",
                "920cbcf2.01f1d",
                "9921cdcb.ccc05",
                "1eff7c3f.62b574",
                "b2bfb27d.73b28",
                "c29f931.e25417",
                "940b9fce.2ff1f",
                "b703e2f9.7edba",
                "692cec29.c46dc4"
            ]
        ]
    },
    {
        "id": "6b7c6d7a.7b79d4",
        "type": "inject",
        "z": "fb34594d.a95eb8",
        "name": "Update 1h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "e19137ec.dca228"
            ]
        ]
    },
    {
        "id": "57fe9a5d.fa5434",
        "type": "debug",
        "z": "fb34594d.a95eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "3f6d1bd5.b0aed4",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - Range",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.evStatus.drvDistance[0].rangeByFuel.evModeRange.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "d8ed256a.122d58"
            ]
        ]
    },
    {
        "id": "d8ed256a.122d58",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/battery/range",
        "qos": "",
        "retain": "true",
        "broker": "a2deac43.7fa84",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "231e399.c6e2ec6",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - DC Remaining time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.evStatus.remainTime2.etc1.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "ef45f501.1218c8"
            ]
        ]
    },
    {
        "id": "ef45f501.1218c8",
        "type": "function",
        "z": "fb34594d.a95eb8",
        "name": "convert",
        "func": "const [hours, minutes, seconds] = new Date(msg.payload* 6000).toISOString().substr(11, 8).split(\":\");\n\nmsg.payload = `${hours}:${minutes}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 480,
        "wires": [
            [
                "6fae2898.a659d8"
            ]
        ]
    },
    {
        "id": "6fae2898.a659d8",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/battery/charge/dc",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "c73d3794.1a7388",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - 220v Remaining time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.evStatus.remainTime2.etc3.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "a24d3e6c.57864"
            ]
        ]
    },
    {
        "id": "a24d3e6c.57864",
        "type": "function",
        "z": "fb34594d.a95eb8",
        "name": "convert",
        "func": "const [hours, minutes, seconds] = new Date(msg.payload* 6000).toISOString().substr(11, 8).split(\":\");\n\nmsg.payload = `${hours}:${minutes}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 540,
        "wires": [
            [
                "b4e9ed02.81341"
            ]
        ]
    },
    {
        "id": "b4e9ed02.81341",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/battery/charge/220",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 540,
        "wires": []
    },
    {
        "id": "eb4957f4.85bef8",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/battery/charge/120",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 600,
        "wires": []
    },
    {
        "id": "add35eda.411",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - 120v Remaining time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.evStatus.remainTime2.etc2.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "c6a39523.403788"
            ]
        ]
    },
    {
        "id": "c6a39523.403788",
        "type": "function",
        "z": "fb34594d.a95eb8",
        "name": "convert",
        "func": "const [hours, minutes, seconds] = new Date(msg.payload* 6000).toISOString().substr(11, 8).split(\":\");\n\nmsg.payload = `${hours}:${minutes}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 600,
        "wires": [
            [
                "eb4957f4.85bef8"
            ]
        ]
    },
    {
        "id": "54cf5f32.43793",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/charging",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "716f0a0e.2881a4",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - Charge level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.evStatus.batteryStatus",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 660,
        "wires": [
            [
                "54b0271c.566c38"
            ]
        ]
    },
    {
        "id": "54b0271c.566c38",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/battery/charge/level",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "d3402821.a5e3a8",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Climate - Front defrost ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.defrost",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 920,
        "wires": [
            [
                "5aa64290.8464bc"
            ]
        ]
    },
    {
        "id": "e302223.e46eee",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Climate - Back defrost ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.sideBackWindowHeat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 980,
        "wires": [
            [
                "b5662b1c.0bcb18"
            ]
        ]
    },
    {
        "id": "adf9fc7a.910ee",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Climate - Active",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.airCtrlOn",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 860,
        "wires": [
            [
                "7704ea4e.a54674"
            ]
        ]
    },
    {
        "id": "eaddfb2a.7d96e8",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - 12v Charge level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.battery.batSoc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 720,
        "wires": [
            [
                "315593c1.a5e39c"
            ]
        ]
    },
    {
        "id": "b407932e.d5a9c",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Climate - Air temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.airTemp.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 800,
        "wires": [
            [
                "46d566cc.a1af18"
            ]
        ]
    },
    {
        "id": "46d566cc.a1af18",
        "type": "function",
        "z": "fb34594d.a95eb8",
        "name": "Convert code to unit",
        "func": "var code = msg.payload;\n\nswitch (code) {\n    case '02H':\n      msg.payload = 15.0;\n      break;\n    case '03H':\n      msg.payload = 15.5;\n      break;\n    case '04H':\n      msg.payload = 16.0;\n      break;\n    case '05H':\n      msg.payload = 16.5;\n      break;\n    case '06H':\n      msg.payload = 17.0;\n      break;\n    case '07H':\n      msg.payload = 17.5;\n      break;\n    case '08H':\n      msg.payload = 18.0;\n      break;\n    case '09H':\n      msg.payload = 18.5;\n      break;\n    case '0AH':\n      msg.payload = 19.0;\n      break;\n    case '0BH':\n      msg.payload = 19.5;\n      break;\n    case '0CH':\n      msg.payload = 20.0;\n      break;\n    case '0DH':\n      msg.payload = 20.5;\n      break;\n    case '0EH':\n      msg.payload = 21.0;\n      break;\n    case '0FH':\n      msg.payload = 21.5;\n      break;\n    case '10H':\n      msg.payload = 22.0;\n      break;\n    case '11H':\n      msg.payload = 22.0;\n      break;\n    case '12H':\n      msg.payload = 23.0;\n      break;\n    case '13H':\n      msg.payload = 23.5;\n      break;\n    case '14H':\n      msg.payload = 24.0;\n      break;\n    case '15H':\n      msg.payload = 24.5;\n      break;\n    case '16H':\n      msg.payload = 25.0;\n      break;\n    case '17H':\n      msg.payload = 25.5;\n      break;\n    case '18H':\n      msg.payload = 26.0;\n      break;\n    case '19H':\n      msg.payload = 26.5;\n      break;\n    case '1AH':\n      msg.payload = 27.0;\n      break;\n    case '1BH':\n      msg.payload = 27.5;\n      break;\n    case '1CH':\n      msg.payload = 28.0;\n      break;\n    case '1DH':\n      msg.payload = 28.5;\n      break;\n    case '1EH':\n      msg.payload = 29.0;\n      break;\n    case '1FH':\n      msg.payload = 29.5;\n      break;\n    case '20H':\n      msg.payload = 30.0;\n      break;\n    default:\n      msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 800,
        "wires": [
            [
                "ddf10e4e.85548"
            ]
        ]
    },
    {
        "id": "315593c1.a5e39c",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/battery12v/charge/level",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "ddf10e4e.85548",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/climate/temp",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1060,
        "y": 800,
        "wires": []
    },
    {
        "id": "7704ea4e.a54674",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/climate/active",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1070,
        "y": 860,
        "wires": []
    },
    {
        "id": "5aa64290.8464bc",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/climate/defrost/front",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1090,
        "y": 920,
        "wires": []
    },
    {
        "id": "b5662b1c.0bcb18",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/climate/defrost/back",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1090,
        "y": 980,
        "wires": []
    },
    {
        "id": "f55bd4bd.20a338",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Car lock",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.doorLock",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "c31662ad.0c354"
            ]
        ]
    },
    {
        "id": "75b9380b.256d38",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Hood open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.hoodOpen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "1d88ab73.732905"
            ]
        ]
    },
    {
        "id": "1fcde0c9.3cbcdf",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Trunk open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.trunkOpen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1200,
        "wires": [
            [
                "15cccdbe.e8c9b2"
            ]
        ]
    },
    {
        "id": "920cbcf2.01f1d",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Door open - FL",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.doorOpen.frontLeft",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1260,
        "wires": [
            [
                "eb64dd51.ef066"
            ]
        ]
    },
    {
        "id": "9921cdcb.ccc05",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Door open - FR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.doorOpen.frontRight",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "e82be78e.f579f8"
            ]
        ]
    },
    {
        "id": "1eff7c3f.62b574",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Door open - BL",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.doorOpen.backLeft",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1380,
        "wires": [
            [
                "36e3d6c6.24ac9a"
            ]
        ]
    },
    {
        "id": "b2bfb27d.73b28",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Door open - BR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.doorOpen.backRight",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1440,
        "wires": [
            [
                "9003595f.054438"
            ]
        ]
    },
    {
        "id": "c29f931.e25417",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Tire pressure alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.tirePressureLamp.tirePressureLampAll",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1500,
        "wires": [
            [
                "251976b6.90ab1a"
            ]
        ]
    },
    {
        "id": "80dfc294.316d1",
        "type": "moment",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "ETC/UTC",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm",
        "locale": "FR",
        "output": "",
        "outputType": "msg",
        "outTz": "America/Toronto",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "73f9d86c.7185f8"
            ]
        ]
    },
    {
        "id": "940b9fce.2ff1f",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Battery - Is charging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.evStatus.batteryCharge",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "54cf5f32.43793"
            ]
        ]
    },
    {
        "id": "b703e2f9.7edba",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Last update",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "80dfc294.316d1"
            ]
        ]
    },
    {
        "id": "73f9d86c.7185f8",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/updatetime",
        "qos": "",
        "retain": "true",
        "broker": "a2deac43.7fa84",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "692cec29.c46dc4",
        "type": "change",
        "z": "fb34594d.a95eb8",
        "name": "Engine activated",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.status.engine",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "210ced3a.49f2f2"
            ]
        ]
    },
    {
        "id": "5c91ab12.5ffde4",
        "type": "server-events",
        "z": "fb34594d.a95eb8",
        "name": "",
        "server": "d8a14f59.c04df",
        "event_type": "ev_refresh_status",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "e19137ec.dca228"
            ]
        ]
    },
    {
        "id": "c31662ad.0c354",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/lock",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1050,
        "y": 1076,
        "wires": []
    },
    {
        "id": "1d88ab73.732905",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/hood_open",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1070,
        "y": 1137,
        "wires": []
    },
    {
        "id": "15cccdbe.e8c9b2",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/trunk_open",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1070,
        "y": 1196,
        "wires": []
    },
    {
        "id": "eb64dd51.ef066",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/door_open/fl",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1070,
        "y": 1255,
        "wires": []
    },
    {
        "id": "e82be78e.f579f8",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/door_open/fr",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 1315,
        "wires": []
    },
    {
        "id": "36e3d6c6.24ac9a",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/door_open/bl",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 1375,
        "wires": []
    },
    {
        "id": "9003595f.054438",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/door_open/br",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 1436,
        "wires": []
    },
    {
        "id": "251976b6.90ab1a",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/car/tire_pressure",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1080,
        "y": 1496,
        "wires": []
    },
    {
        "id": "210ced3a.49f2f2",
        "type": "mqtt out",
        "z": "fb34594d.a95eb8",
        "name": "",
        "topic": "ev/engine/activated",
        "qos": "",
        "retain": "",
        "broker": "a2deac43.7fa84",
        "x": 1070,
        "y": 1556,
        "wires": []
    },
    {
        "id": "a2deac43.7fa84",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d8a14f59.c04df",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]